.searchContainer {
    height: 50px;
    padding: 0px;
  
  }
  
  .tblArea {
    height: 82vh;
    overflow: auto;
  }
  
  @media screen and (max-width: 800px) {
  
    #tblContainer {
      width: 290px;
  
    }
  }