/********** Side Navigation Bar **********/

.sideLinks:hover{
    font-weight: bold;
    color: var(--darkGrey);
}

/********** Top Bar **********/

.topContainer
{
    background-color: var(--primary);
    color: var(--secondary);
}