/********** Side Navigation Bar **********/
.sideLinks
{
    color: var(--secondary);
}
.sideLinks:hover{
    font-weight: bold;
    color: var(--black);
}

/********** Top Bar **********/

.topContainer
{
    background-color: var(--primary);
    color: var(--secondary);
    height: 6vh;
}