/******** HomePage ********/

#loginBox
{
    background-color: var(--secondary);
}
#contentBox
{
    background-color: var(--grey);
   
}
#loginText
{
    color: var(--primary);
    font-size: 30px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
}
#loginErrorText
{
    color: red;
    font-size: 13px;
}
.lblLog
{
    color: var(--darkGrey);
    margin-left: 0.5rem;
}
   

#btnLogin
{
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 18px;
    margin-top: 3rem;
}
#forgotPassword
{
    color: var(--darkGrey);
    font-size: 13px;
    margin-top: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}
#forgotPassword:hover
{
    font-weight: bold;
}
#logoBlock
{
    height: 100vh;
    width: 100%;
    
}
#descBlock
{
    height: 100vh;
    width: 100%;

}
  .carousel-indicators .active {
    background-color: var(--darkGrey);
  }

/* .App {
  

} */
