/******** HomePage ********/

#loginBox {
    background-color: var(--secondary);
}

#contentBox {
    background-color: var(--grey);

}

#loginText {
    color: var(--primary);
    font-size: 30px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
}

#loginErrorText {
    color: red;
    font-size: 13px;
}

.lblLog {
    color: var(--darkGrey);
    margin-left: 0.5rem;
}


#btnLogin {
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 18px;
    margin-top: 3rem;
}

#forgotPassword {
    color: var(--darkGrey);
    font-size: 13px;
    margin-top: 1rem;
    cursor: pointer;
    margin-right: 1rem;
}

#forgotPassword:hover {
    font-weight: bold;
}

#logoBlock {
    height: 100vh;
    width: 100%;

}

#descBlock {
    height: 100vh;
    width: 100%;

}

.carousel-indicators .active {
    background-color: var(--darkGrey);
}

/******** Profile Page ********/

#bodyArea {
    overflow: auto;
    height: 89vh;
}

.profileImage {
    width: 200px;
}

.nameSection {
    padding-left: 50px;
}

.roleTag {
    width: 105px;
    background-color: var(--primary);
}

.schoolImage {
    width: 100px;
    height: 100px;
}

.schoolBox {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkGrey);
    border-radius: 10px;
    
    
}

.classBox {
    color: var(--secondary);
    justify-content: space-between;
    background-color: var(--darkGrey);
    border-radius: 10px;
    margin-left: 20px;
    overflow: auto;

}

.schoolTexts {
    color: var(--secondary);
}

@media screen and (max-width: 500px) {
    .nameSection {
        padding-left: 0px;
    }

    .classBox {
        margin-left: 0px;
        margin-top: 10px;
        padding-bottom: 20px;
    }

}

/******** NotFound Page ********/
.container404 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btnBack {
    display: block;
    position: absolute;
    left: 20%;
    background-color: var(--primary);
}

@media screen and (max-width: 700px) {
    .btnBack {
        left: 10%;
    }
}



/* .App {
  

} */

