@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --primary: #3751FE;
  --secondary: #ffffff;
  --black: #000000;
  --grey: #E5E5E5;
  --darkGrey: rgba(0, 0, 0, 0.61);
  

}
body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


